<div
    class="bg-gray-900 rounded-xl p-6 shadow-lg border border-gray-800 transition-all hover:scale-[1.02] hover:border-gray-700">
    <h2 class="text-xl font-semibold mb-4">Latest Run</h2>

    <div class="space-y-3" *ngIf="run">

        <div class="flex justify-between">
            <span class="text-gray-400">p95</span>
            <span class="font-bold text-blue-300">{{ run.p95 }} ms</span>
        </div>

        <div class="flex justify-between">
            <span class="text-gray-400">Error Rate</span>
            <span class="font-bold text-red-300">{{ run.httpReqFailed }}</span>
        </div>

        <div class="flex justify-between">
            <span class="text-gray-400">Global Score</span>
            <span class="font-bold text-purple-300">{{ run.globalScore }}</span>
        </div>

        <div class="flex justify-between">
            <span class="text-gray-400">Date</span>
            <span class="font-bold">{{ run.date | date:'short' }}</span>
        </div>

    </div>
</div>